In [9]:
import pandas as pd

nhl_games= pd.read_csv("/Users/joejohns/data_bootcamp/GitHub/final_project_nhl_prediction/Data/Kaggle_Data_Ellis/game.csv")

In [22]:
nhl_games.columns

Index(['game_id', 'season', 'type', 'date_time_GMT', 'away_team_id',
       'home_team_id', 'away_goals', 'home_goals', 'outcome',
       'home_rink_side_start', 'venue', 'venue_link', 'venue_time_zone_id',
       'venue_time_zone_offset', 'venue_time_zone_tz'],
      dtype='object')

In [24]:
filter1 = (nhl_games['season']==20072008)
filter2 = (nhl_games['away_team_id'] == 24) | (nhl_games['home_team_id'] == 24)
filt = filter1 & filter2


nhl_games.sort_values(by = 'game_id').loc[filt, ['date_time_GMT','venue_time_zone_offset', 'venue_time_zone_tz', 'away_team_id',
       'home_team_id', 'away_goals', 'home_goals', 'outcome',]].head(20)

,date_time_GMT,venue_time_zone_offset,venue_time_zone_tz,away_team_id,home_team_id,away_goals,home_goals,outcome
12646,2007-09-29T16:00:00Z,-7,PDT,24,26,1,4,home win REG
12598,2007-09-30T16:00:00Z,-7,PDT,26,24,1,4,home win REG
13054,2007-10-03T23:00:00Z,-4,EDT,24,17,2,3,home win OT
12247,2007-10-05T23:00:00Z,-4,EDT,24,29,0,4,home win REG
12292,2007-10-06T23:30:00Z,-4,EDT,24,5,4,5,home win REG
13056,2007-10-11T02:00:00Z,-7,PDT,6,24,1,2,home win REG
12601,2007-10-15T00:00:00Z,-7,PDT,30,24,2,0,away win REG
12699,2007-10-16T02:00:00Z,-7,PDT,17,24,3,6,home win REG
12822,2007-10-18T02:00:00Z,-7,PDT,18,24,1,3,home win REG
12203,2007-10-21T00:00:00Z,-5,CDT,24,25,1,3,home win REG
12242,2007-10-24T00:30:00Z,-5,CDT,24,19,2,4,home win REG
12255,2007-10-26T02:00:00Z,-7,PDT,27,24,1,0,away win REG
12485,2007-10-29T00:00:00Z,-7,PDT,22,24,3,2,away win OT
12904,2007-11-02T02:00:00Z,-7,PDT,29,24,1,2,home win OT
12871,2007-11-04T02:00:00Z,-7,MST,24,27,5,2,away win REG
12597,2007-11-06T03:00:00Z,-7,PDT,25,24,5,0,away win REG
11974,2007-11-08T03:00:00Z,-7,PDT,27,24,6,5,away win OT
12659,2007-11-10T03:00:00Z,-7,PDT,28,24,2,3,home win OT
12235,2007-11-14T03:00:00Z,-7,PDT,26,24,3,4,home win OT
12176,2007-11-16T03:30:00Z,-7,PDT,24,26,6,3,away win REG

In [8]:
nhl_games.loc[nhl_games['game_id'] ==2012020159, :]

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
6415,2012020159,20122013,R,2013-02-09T21:00:00Z,27,28,1,0,away win OT,left,HP Pavilion at San Jose,/api/v1/venues/null,America/Los_Angeles,-7,PDT